/* Table of Contents
------------------------------ 
- General Content
- Typography 
- Header & Navigation
- Image & Media 
- Footer 
- Media Queries
------------------------------ */

/* General Content 
------------------------------ */
.main{padding-top:3%;}
.row{padding: 2% 0;}
.green{background-color:#7accc8;}

/* Typography 
------------------------------ */
body{
	font-family: 'Abel', sans-sarif;
	font-size: 1.5em;
	color: #000;
}
h2 {
	font-family: 'Satisfy', cursive;
	font-size: 3em;
	margin: 0.67em;
}


/* Header & Navigation
------------------------------ */
header.main_nav{
	padding: 1% 0;
	display: block;
}
/* Image & Media 
------------------------------ */

/* Footer  
------------------------------ */

/* Media Queries 
------------------------------ */